{{ define "Header" }}
{{ $page := .Page }}
{{ $localePath := (index .Siteinfo.Locales .Locale).Path }}
{{ $pathToRoot := .Page.PathToRoot $localePath }}
{{ $pathToLocale := join $pathToRoot $localePath }}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ .Page.Title }} — {{ .Siteinfo.TitleHelper .Page .Locale }}</title>
		<link rel="stylesheet" type="text/css" href="{{ join $pathToRoot "/assets/style.css" }}">
	</head>
	<body>
		<header {{ if .Page.PathToFeaturedImage }}style="background-image: url('{{ join $pathToRoot .Page.PathToFeaturedImage }}')"{{ end }}>
			<h1><a href="{{ join $pathToLocale "index.html" }}" id="top">{{ .Siteinfo.TitleHelper .Page .Locale }}</a></h1>
			<div id="subtitle">{{ .Siteinfo.SubtitleHelper .Page .Locale }}</div>
		</header>
		<nav>
			<div class="flowing-menu">{{ .Tree.NavHelper .Page true .Locale $localePath }}</div>
			<ul>
				<li><a {{ if eq .Page.Path "/index.html" }}class="active"{{ end }} href="{{ join $pathToLocale .Tree.Path "index.html" }}">{{ .Tree.Name }}</a></li>
				{{ range (index .Tree.Pages .Locale) }}
					{{ if ne .Basename "index" }}
						<li><a {{ if eq $page.Path .Path }}class="active"{{ end }} href="{{ join $pathToLocale .Path }}">{{ .Title }}</a></li>
					{{ end }}
				{{ end }}
				{{ $locale := .Locale }}
				{{ range .Tree.SubCategories }}
					{{ if and (ne .Basename "tag") (not (.IsEmpty $locale)) }}
						<li><a {{ if eq $page.Category.Path .Path }}class="active"{{ end }} href="{{ join $pathToLocale .Path "index.html" }}">{{ .Name }}</a></li>
					{{ end }}
				{{ end }}
			</ul>
		</nav>
		<main>
			<aside>
				<h2>{{ t .Locale "full_page.header.page" }}</h2>
				<p>
					{{ .Page.PathHelper .Page $localePath }}
				</p>
				{{ range .Page.Authors }}{{ .Helper }}{{ end }}
				<time>{{ .Page.Date }}</time>
				<ul class="tags">
				{{ range .Page.Tags }}
					<li><a href="{{ join $pathToLocale "tag" . "index.html" }}">{{ . }}</a></li>
				{{ end }}
				</ul>

				<hr>
				<h2>{{ t .Locale "full_page.header.all_tags" }}</h2>
				<ul class="tags">
				{{ $tree := .Tree }}
				{{ $locale := .Locale }}
				{{ range (.Tree.Tags .Locale) }}
					<li><a href="{{ join $pathToLocale "tag" . "index.html" }}">{{ . }} ({{ len ($tree.FilterByTag . $locale) }})</a></li>
				{{ end }}
				</ul>

				<hr>
				<h2>{{ t .Locale "full_page.header.recent_pages" }}</h2>
				<ul>
				{{ range (.Tree.RecentPages 5 .Locale) }}	
					<li><a href="{{ join $pathToLocale .Path }}">{{ .Title }}</a> ({{ .Date }})</li>
				{{ end }}
				</ul>
				
				<hr>
				<h2>{{ t .Locale "full_page.header.about" }}</h2>
				{{ .Siteinfo.DescriptionHelper .Page .Locale }}
				<hr>
				<h2>{{ t .Locale "full_page.header.languages" }}</h2>
				<ul>
				{{ $page := .Page }}
				{{ range $locale, $localeDetails := .Siteinfo.Locales }}
					{{ with $page.PathInLocale $locale }}
						<li><a href="{{ join $pathToRoot $localeDetails.Path . }}"><img src="{{ join $pathToRoot "/media/img" }}/flag_{{ $locale }}.png" alt="flag_{{ $locale }}">&nbsp;{{ t $locale "locale_name" }}</a></li>
					{{ end }}
				{{ end }}
				</ul>
			</aside>
			<section>
{{ end }}
{{ define "Footer" }}
{{ $localePath := (index .Siteinfo.Locales .Locale).Path }}
{{ $pathToRoot := .Page.PathToRoot $localePath }}
			</section>
		</main>
		<footer>
			{{ range .Siteinfo.Authors }}
				{{ .Helper }}
			{{ end }}
			{{ .Siteinfo.CopyrightHelper .Page .Locale }}
			<p>
				<a href="https://github.com/ribacq/tomato">{{ t .Locale "full_page.footer.tomato" }}</a>
			</p>
			<p>
				<a href="#top">{{ t .Locale "full_page.footer.back_to_top" }}</a>
			</p>
		</footer>
		<!-- load JS -->
		<script type="text/javascript" src="{{ join $pathToRoot "/assets/main.js" }}"><p>{{ t .Locale "full_page.footer.no_js" }}</p></script>
	</body>
</html>
{{ end }}
