{{ define "Header" }}
{{ $page := .Page }}
{{ $localePath := index .Siteinfo.LocalePaths .Locale }}
{{ $pathToRoot := .Page.PathToRoot $localePath }}
{{ $pathToLocale := join $pathToRoot $localePath }}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ .Page.Title }} — {{ .Siteinfo.Title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ $pathToRoot }}/assets/style.css">
	</head>
	<body>
		<header {{ if .Page.PathToFeaturedImage }}style="background-image: url('{{ $pathToRoot }}{{ .Page.PathToFeaturedImage }}')"{{ end }}>
			<h1><a href="{{ $pathToLocale }}/index.html" id="top">{{ .Siteinfo.Title }}</a></h1>
			<div id="subtitle">{{ .Siteinfo.SubtitleHelper .Page .Locale }}</div>
		</header>
		<nav>
			<div class="flowing-menu">{{ .Tree.NavHelper .Page true .Locale $localePath }}</div>
			<ul>
				<li><a {{ if eq .Page.Path "/index.html" }}class="active"{{ end }} href="{{ $pathToLocale }}{{ .Tree.Path }}index.html">{{ .Tree.Name }}</a></li>
				{{ range (index .Tree.Pages .Locale) }}
					{{ if ne .Basename "index" }}
						<li><a {{ if eq $page.Path .Path }}class="active"{{ end }} href="{{ $pathToLocale }}{{ .Path }}">{{ .Title }}</a></li>
					{{ end }}
				{{ end }}
				{{ range .Tree.SubCategories }}
					<li><a {{ if eq $page.Category.Path .Path }}class="active"{{ end }} href="{{ $pathToLocale }}{{ .Path }}index.html">{{ .Name }}</a></li>
				{{ end }}
			</ul>
		</nav>
		<main>
			<aside>
				<h2>{{ t .Locale "full_page.header.page" }}</h2>
				<p>
					{{ .Page.PathHelper .Page $localePath }}
				</p>
				{{ range .Page.Authors }}{{ .Helper }}{{ end }}
				<time>{{ .Page.Date }}</time>
				<ul class="tags">
				{{ range .Page.Tags }}
					<li><a href="{{ $pathToLocale }}/tag/{{ . }}.html">{{ . }}</a></li>
				{{ end }}
				</ul>

				<hr>
				<h2>{{ t .Locale "full_page.header.all_tags" }}</h2>
				<ul class="tags">
				{{ $tree := .Tree }}
				{{ $locale := .Locale }}
				{{ range (.Tree.Tags .Locale) }}
					<li><a href="{{ $pathToLocale }}/tag/{{ . }}.html">{{ . }} ({{ len ($tree.FilterByTag . $locale) }})</a></li>
				{{ end }}
				</ul>

				<hr>
				<h2>{{ t .Locale "full_page.header.recent_pages" }}</h2>
				<ul>
				{{ range (.Tree.RecentPages 5 .Locale) }}	
					<li><a href="{{ $pathToLocale }}{{ .Path }}">{{ .Title }}</a> ({{ .Date }})</li>
				{{ end }}
				</ul>
				
				<hr>
				<h2>{{ t .Locale "full_page.header.about" }}</h2>
				{{ .Siteinfo.DescriptionHelper .Page $localePath }}
				<hr>
				<h2>{{ t .Locale "full_page.header.languages" }}</h2>
				<ul>
				{{ $page := .Page }}
				{{ range $locale, $localePath := .Siteinfo.LocalePaths }}
					{{ if ($page.ExistsInLocale $locale) }}
						<li><a href="{{ join $pathToRoot $localePath $page.Path }}"><img src="{{ $pathToRoot }}/media/img/flag_{{ $locale }}.png" alt="flag_{{ $locale }}">&nbsp;{{ t $locale "locale_name" }}</a></li>
					{{ end }}
				{{ end }}
				</ul>
			</aside>
			<section>
{{ end }}
{{ define "Footer" }}
{{ $localePath := index .Siteinfo.LocalePaths .Locale }}
{{ $pathToRoot := .Page.PathToRoot $localePath }}
			</section>
		</main>
		<footer>
			{{ range .Siteinfo.Authors }}
				{{ .Helper }}
			{{ end }}
			{{ .Siteinfo.CopyrightHelper .Page .Locale }}
			<p>
				<a href="https://github.com/ribacq/tomato">{{ t .Locale "full_page.footer.tomato" }}</a>
			</p>
			<p>
				<a href="#top">{{ t .Locale "full_page.footer.back_to_top" }}</a>
			</p>
		</footer>
		<!-- load JS -->
		<script type="text/javascript" src="{{ $pathToRoot }}/assets/main.js"><p>{{ t .Locale "full_page.footer.no_js" }}</p></script>
	</body>
</html>
{{ end }}
