{{ define "PageList" }}
{{ $page := .Page }}
<div class="page-list">
	<h1>{{ .Title }}</h1>
	<p>{{ len .Pages }} page{{ if ge (len .Pages) 2 }}s{{ end }}</p>

	{{ if len .Tags }}
		<h2>Tags</h2>
		<ul class="tags">
		{{ range .Tags }}
			<li><a href="{{ $page.PathToRoot }}/tag/{{ . }}.html">{{ . }}</a></li>
		{{ end }}
		</ul>
	{{ end }}

	{{ if .Category }}
		<h2>Everything under {{ .Category.Name }}</h2>
		{{ .Category.NavHelper .Page true }}
	{{ end }}

	{{ if len .Pages }}
		<h2>Pages</h2>
		<div class="cards">
		{{ range .Pages }}
			<div class="card">
				<h2 class="card-title"><a href="{{ $page.PathToRoot }}{{ .Path }}">{{ .Title }}</a></h2>
				<div class="card-content">
					{{ .Author.Helper }}
					{{ .Date }}
				</div>
			</div>
		{{ end }}
		</div>
	{{ end }}
</div>
{{ end }}
